*{
	font-family:"Arial",monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

h1{
	font-size: 40px;
}

#intro{
	text-align: center;
}

#part{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	
}

#prefooter{
	 background-color: #002540;
	 color: white;
	 display: inline-block;
	 display: flex;
	padding: 10px;
	

}

#div1{
	 color: white;
	display: inline-block;
	
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	vertical-align: text-bottom;
	
}

#div2{
	 color: white;
	display: inline-block;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	vertical-align: text-bottom;

}

#div3{
	 color: white;
	display: inline-block;
	
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;

	padding: 5px;
	vertical-align: text-bottom;
	}

#div4{
	 color: white;
	display: inline-block;
	
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	vertical-align: text-bottom;
	}


footer{
	padding: 1rem;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
	text-align: center;
}